#location{
    text-transform: capitalize;
}

.pairing{
    display: flex;
    gap:3px;
}

.appContainer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 80vh;
    gap:5%;
    
}

.todayWeather{
    display:flex;
    border-radius: 5px;
    border-color: rgba(0, 255, 255, 0.288);
    background-color: rgba(0, 255, 255, 0.452);
    justify-content: space-between;
    gap:10em;
    padding: 10%;
    

}

.dayCard{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    border-radius: 5px;
    border-color: rgba(0, 255, 255, 0.288);
    background-color: rgba(0, 255, 255, 0.452);
    border-width: 1px;
    margin:5px;
    padding: 5px;
}

.weatherIcon{
    height: 40px;
    width: 50px;
}

body{
    background-size:cover;
    background-repeat: no-repeat;
}

#currentIcon{
    width:82px;
}

#currentTemp, #location{
    font-size:xx-large;
    font-weight: bolder;
}

.column{
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.formGroup{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}