#location{
    text-transform: capitalize;
}

.pairing{
    display: flex;
    gap:3px;
}

.appContainer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    gap:5%;
}

.todayWeather{
    border-radius: 5px;
    border-color: rgba(0, 255, 255, 0.288);
    background-color: rgba(0, 255, 255, 0.452);
    padding:10%;

}

.dayCard{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    border-radius: 5px;
    border-color: rgba(0, 255, 255, 0.288);
    background-color: rgba(0, 255, 255, 0.452);
    border-width: 1px;
    margin:5px;
}

.weatherIcon{
    width:64px;
}